#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE              VFT_DLL
#define VER_FILESUBTYPE           VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR   "lcms color engine"
#define VER_INTERNALNAME_STR      "lcms2.dll"
#define VER_ORIGINALFILENAME_STR  "lcms2.dll"
#include <common.ver>
